@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.highlighted {
  position: relative;
}

.highlighted::after {
  content: "";
  width: 104%;
  height: 15px;
  position: absolute;
  left: 50%;
  bottom: 8.5px;
  transform: translateX(-50%);
  background-color: rgba(252, 225, 129, 0.5);
}

.tagCloud {
  flex: 1;
}

.tagCloud-outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 150px;
  width: 100%;
}

.tagCloud > div {
  transition: transform 1.4s;
}

.hovered:hover {
  color: #026670;
  text-decoration: underline;
  cursor: pointer;
}
