@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "FbJoker";
  src: url("./fonts/FbJoker-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FbJoker";
  src: url("./fonts/FbJoker-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FbJoker";
  src: url("./fonts/FbJoker-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FbJoker";
  src: url("./fonts/FbJoker-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

.highlighted {
  position: relative;
}

.highlighted::after {
  content: "";
  width: 104%;
  height: 15px;
  position: absolute;
  left: 50%;
  bottom: 8.5px;
  transform: translateX(-50%);
  background-color: rgba(252, 225, 129, 0.5);
}

.tagCloud {
  flex: 1;
}

.tagCloud-outer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 150px;
  width: 100%;
}

.tagCloud > div {
  transition: transform 1s;
}

.hovered:hover {
  color: #026670;
  text-decoration: underline;
  cursor: pointer;
}

media-player {
  --media-time-font-size: 12px;
  --media-time-font-weight: 700;
  --media-font-family: "Poppins";
  --media-time-letter-spacing: initial;
  background-color: transparent !important;
  border-radius: 20px !important;
}

media-outlet,
media-player[data-view-type="video"] {
  background-color: transparent;
  border-radius: 20px;
}

media-play-button {
  width: 21px;
}

media-fullscreen-button[data-hover],
media-menu-button[data-hover],
media-play-button[data-hover] {
  background-color: transparent;
}

media-menu-button[data-hover] svg,
media-fullscreen-button[data-hover] svg,
media-play-button[data-hover] svg {
  color: #fce181;
}

media-time-slider [part~="track"] {
  background-color: #026670;
  border-radius: 4px;
}

media-volume-slider [part~="track-fill"],
media-volume-slider [part~="track"] {
  border-radius: 4px;
}

media-volume-slider [part~="track-fill"] {
  background-color: #026670;
}

media-time-slider [part~="track-fill"] {
  background-color: #fce181;
  border-radius: 4px;
}

media-time-slider [part~="track-progress"] {
  background-color: #fce181;
  border-radius: 4px;
}

media-seek-button {
  width: initial;
  height: initial;
}

media-seek-button p {
  white-space: nowrap;
}

media-seek-button:hover {
  background-color: transparent;
}

media-seek-button:hover p {
  color: #fce181;
}

media-seek-button svg[slot="forward"],
media-seek-button svg[slot="backward"] {
  display: none;
}

media-fullscreen-button {
  width: 21px;
  height: 21px;
}

media-menu-button {
  width: 20px;
}

media-volume-slider {
  width: 60px;
  display: none;
  flex-shrink: 0;
}

media-player[data-ios-controls] .media-controls-group,
media-player[data-user-idle] .media-controls-group,
media-player:not([data-can-play]) .media-controls-group {
  opacity: 0;
  pointer-events: none;
}

media-menu-items {
  height: auto;
}

.rtl-section {
  direction: rtl;
  text-align: right;
}

.swiper-videos .swiper-slide {
  width: auto;
  padding: 20px 0 60px;
}

.accordion-white {
  border-radius: 20px !important;
  box-shadow: none !important;
  margin-bottom: 20px !important;
}

.accordion-white:last-child {
  margin-bottom: 0 !important;
}

.accordion-white::after {
  content: none !important;
}

.accordion-white .MuiAccordionDetails-root {
  padding: 0 40px 30px !important;
}

.list-items {
  padding: 0;
  margin: 0;
}

.list-items li {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #333;
}

.list-items li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid #026670;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 1px;
}
